<h1>Cadastrar uma cozinha</h1>

<%= @cuisine.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<%= form_for(@cuisine) do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>
