<% if @cuisine.recipes.length <= 0 %>
  Nenhuma receita encontrada para este tipo de cozinha
<% else %>
  <h1><%= @cuisine.name %></h1>

  <% @cuisine.recipes.each do |c| %>
  <h1><%= c.title %></h1>
  <ul>
    <li><%= c.recipe_type %></li>
    <li><%= c.cuisine.name %></li>
    <li><%= c.difficulty %></li>
    <li><%= c.cook_time %> minutos</li>
  </ul>
  <% end %>
<% end %>
